*{
    font-family: Helvetica;
}
.title{
  display: inline-block;
  font-family: Helvetica;
  color: #2D3192;
  position: relative;
  left: 2%;
  width: 50%;
}
.button{
  display: inline-block;
  background-color: #ffffff00;
  border: solid #DFE4EB;;
  border-radius: 15px;
  color: #000000;
  padding: 15px 70px;
  font-size: 16px;
  font-weight: 600;
  font-display: 58px;
  margin: 4px 200px;
  position: relative;
  left: 170px;
  cursor: pointer;
  transition: 0.2s;
  padding-left: 25px;
}
.button:hover
{
    border: solid #FF6400;
    color: #000000;
}

.container{ 
    
    width: max-content;
    margin: auto;
}
.card
{
    text-align: center;
    display: inline-block;
    width: 350px;
    height: 500px;
    margin: 20px;
    border: 2px solid rgb(226, 224, 224);
    border-radius: 4px;
}
.card.section1{
    position: relative;

    bottom :60px

}
.card.section3{
    position: relative;

    bottom :30px

}
.card > span {
    font-weight: bold;
    font-size: 30px;
}
.card > p {
    
    margin-top: 30px;
    font-size: 17px;
    line-height: 30px;
    padding: 5px;
}
.card > img{
    display: block;
  margin: 40px auto 40px auto;
  height: 170px;
  width:  170px;

}
.card > h1{
}
.gg-arrow-long-right{
    color: #FF6400;
    position:fixed;
    left: 130% ;
    bottom: 10px ;
}